<!doctype html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<p>{{ result }}</p>
<form method="POST">
{#    <label for="searchfield">Поиск</label>#}
    <input type="text" class="form-control" id="searchfield" placeholder="Поиск" name="search">
    <input class="btn btn-primary " value="Search" type="submit" name="btn">
</form>
<form method="POST">
  <div class="form-group">
{#    <label for="name">Имя</label>#}
    <input type="text" class="form-control" id="namefield" aria-describedby="nameHelp" placeholder="Имя" name="name">
  </div>
  <div class="form-group">
{#    <label for="surnamefield">Фамилия</label>#}
    <input type="text" class="form-control" id="surnamefield" name="surname" placeholder="Фамилия">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="patronymicfield" name="patronymic" placeholder="Отчество">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="genderfield" name="gender" placeholder="Пол">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="inspectionfield" name="inspection" placeholder="Дата осмотра">
  </div>
  <input type="submit" value="Add" class="btn btn-primary" name="btn"></input>
</form>
    <div class="container">
{#	  <h2>Basic Table</h2>#}
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Имя</th>
	        <th>Фамилия</th>
            <th>Отчество</th>
            <th>Пол</th>
            <th>Дата осмотра</th>
	      </tr>
	    </thead>
	    <tbody>
            {% block date %}
                {% for result in results %}
                    <tr>
                    <td>{{ result['name'] }}</td>
                     <td>{{ result['surname'] }}</td>
                    </tr>
                {% endfor %}
            {% endblock %}
	    </tbody>
	  </table>

	</div>
</body>
</html>
